@model MD4._1.Models.Titleauthor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Titleauthor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuOrd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuOrd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
